.page-title {
    margin: 0 0 22px 0;
    font-size: 26px;
    font-weight: 700;
}


.search {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
}

.search input {
    width: 260px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
    padding: 0 12px;
    font-size: 14px;
    outline: none;
    background: #fff;
}

.search button {
    height: 40px;
    padding: 0 18px;
    border: none;
    border-radius: 8px;
    background: #6c63ff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.search button:hover {
    background: #5a52d6;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}


.card {
    background: #f0f0f0;
    border-radius: 12px;
    padding: 18px;
}


.card-link {
    text-decoration: none;
    color: #111;
}


.img-box {
    background: #ffffff;
    border-radius: 10px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.img-box img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}


.card-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
}


.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.price {
    color: #6a6a6a;
    font-size: 14px;
}


.btn {
    background: #6c63ff;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 10px;
}

.btn:hover {
    background: #5a52d6;
}
